<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Encrypted Chat list</title>
  <!-- <link rel="stylesheet" type="text/css" href="/chat/main.css"> -->
  <!-- <link rel="stylesheet" src="/chat/style.css"> -->
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <div class="rooms">
        <form method="post" action="/create">
            <input type="hidden" class="_csrf" name="_csrf" value="<%=csrfToken%>"/></br>
            <label for="roomname">Room Name:</label>
            <input type="text" name="roomname" placeholder="Room name"></br>
            <label for="topic">Room Topic:</label>
            <input type="text" name="topic" placeholder="Room topic"></br>
            <label for="topic">Room password (Leave blank for no password):</label>
            <input type="password" name="roompass" placeholder="Room Password">
            <input type="password" name="roompass2" placeholder="Room Password">
            <button type="submit">Submit</button>
        </form>
    </div>
  <!-- <input style="width:100%; background-color:gray" class="inputMessage" onsubmit="sendMessage()" placeholder="Type here..."/> -->

  <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <!-- <script src="/chat/main.js"></script> -->
</body>
</html>